html,
body,
#root {
	height: 100%;
	// background-color: #f2f8f9;
}

.header {
	background-color: #fff;
	z-index: 111 !important;
}

.notification-icon:hover {
	color: rgb(248, 138, 98);
}

.notification-menu {
	.menu-item-class {
		border-bottom: 1px solid #c4c2c250;
		.dropdown-upper-div {
			font-size: 11px;
			.event-class {
				font-weight: bold;
			}
		}
		.dropdown-lower-div {
			font-size: 11px;
		}
	}
	.view-more-class {
		padding: 10px;
		text-align: center;
		.view-more-button {
			background-color: rgb(255, 161, 126);
			color: #fff;
		}
	}
}

.mobile-show-content {
	display: none;
}

.mobile-hidden-content {
	display: block;
}

.preference-modal {
	.color-header {
		display: flex;
		align-items: center;
		position: relative;
		margin: 30px 0;

		.reset-butn {
			position: absolute;
			right: 0;
		}
	}

	.select-container {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		width: 100%;

		.label {
			margin-right: 20px;
			width: 30%;
		}

		.ant-select {
			width: 300px !important;
		}
	}
}

.sider-desktop-visible {
	z-index: 112 !important;
}

.ant-layout-sider-has-trigger {
	flex: 0 0 180px !important;
	max-width: 180px !important;
	min-width: 180px !important;
	width: 180px !important;

	.ant-layout-sider-trigger {
		width: 180px !important;
	}
}

.ant-layout-sider-collapsed {
	flex: 0 0 80px !important;
	max-width: 80px !important;
	min-width: 80px !important;
	width: 80px !important;

	.ant-layout-sider-trigger {
		width: 80px !important;
	}
}

.ant-layout-sider-trigger {
	width: 2;
}

.logout {
	padding-top: 8px;
}

.mobile-hidden1 {
	display: block;
}

.imgs {
	/*width: 70%;
	margin: 0 22px;
	padding: 20px 0*/
	width: 50%;
	height: 57px;
	padding: 20px 0;
	position: relative;
	margin: 0 auto;
}

.imgs.collapsed {
	padding: 10px 5px;
	margin-bottom: unset;

	img {
		// height: 30px;
		width: 100%;
	}
}

.ant-layout-sider {
	transition: all 0.5s !important;
}

.ant-layout-header {
	height: 52px !important;
	box-shadow: 0 1px 7px 2px #dddddd33 !important;
	padding: 0 20px !important;
	background: #fff !important;
}

.bold {
	font-weight: bold !important;
}

.ant-layout {
	height: 100%;
	text-align: left;
}

@media (max-width: 1023px) {
	.mobile-show-content {
		display: block !important;
	}

	.ant-layout-header {
		padding: 0 5px !important;
	}

	.mobile-hidden-content {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.ant-layout-sider-trigger {
		bottom: unset;
		display: none;
	}

	.sider-desktop-visible {
		z-index: 11 !important;
	}

	.header {
		background-color: #fff;
		z-index: 10 !important;
	}
}

.side-drawer {
	width: 256px !important;
}

.ant-confirm-content {
	margin-left: 0 !important;
}

.abt-modal {
	text-align: center;

	.datoms-logo {
		width: 30%;
		margin: 20px auto;
	}

	.aura-name {
		font-size: 20px;
		font-weight: bold;
		padding-top: 15px;
		padding-bottom: 4px;
	}
}

.view-all {
	text-align: right;
}

.abt-footer {
	padding-top: 0px;
	text-align: center;
}

.back-trans {
	background-color: transparent !important;
	color: rgba(255, 255, 255, 0.65) !important;
}

.back-trans:hover {
	color: rgba(255, 255, 255, 1) !important;
}

.ant-menu {
	.ant-menu-item {
		height: 35px !important;
		line-height: 35px !important;

		a {
			display: flex;
			align-items: center;
		}
	}
}

.ant-menu-submenu-open,
.ant-menu-submenu-active {
	.ant-menu-submenu-title {
		color: #f58740;
	}
}

#components-layout-demo-custom-trigger .trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
	color: #1890ff;
}

#components-layout-demo-top-side-2 .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 28px 16px 0;
	float: left;
}

.menu11 {
	margin: 10px;
	font-size: 20px;
}

.ant-legacy-form {
	width: 22%;
	margin-top: 20px;
}

.mar-right {
	margin-right: 10px;
}

.logo {
	background-image: url(https://prstatic.phoenixrobotix.com/imgs/cold_storage_monitoring/datoms_logo.svg);
}

.imgs-logo-container {
	display: table;
	margin: auto;
	margin-bottom: -8px;
	width: auto;
}

.big-logo {
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s;
	width: 125px;
	margin-top: -2px;
}

.small-logo {
	width: 22px !important;
	opacity: 1;
	transform: scale(1);
	transition: all 0.5s;
	margin-top: 8px;
}

.small-logo.show {
	opacity: 1;
	transform: scale(1);
}

.small-logo.hide {
	opacity: 0;
	transform: scale(0);
}

.big-logo.show {
	opacity: 1;
	transform: scale(1);
}

.logos {
	left: 210px;
	top: -8px;
	position: absolute;
	transition: left 0.5s;
}

.ant-menu-horizontal {
	border-bottom: 0 !important;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
	border-bottom: 0 !important;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
	border-bottom: 0 !important;
}

.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu {
	margin-top: 4px !important;
}

.logos.collapsed-side {
	left: 105px;
}

.company-logo {
	width: 50px;
	margin-right: 0px;
}

.big-company-logo {
	width: 115px;
	margin-right: 0px;
}

.vender-logo {
	display: flex;
}

.company-name {
	margin-left: 20px;
	font-weight: bold;
	// margin-right: 15px;
}

/*.header-txt {
	margin-left: 10px;
}*/
.menu-component {
	.ant-divider,
	.ant-divider-vertical {
		// height: 1.9em;
		// width: 2px;
		margin-left: 20px;
		margin: 0 18px !important;
		background: #a5a1a1 !important;
		color: rgba(0, 0, 0, 0.9) !important;
	}

	.side-menu {
		overflow: auto !important;
		height: 100vh !important;
		position: fixed !important;
		left: 0 !important;
		z-index: 111 !important;
		overflow-x: hidden !important;
	}
}

.ant-menu-horizontal {
	float: right !important;
	line-height: 42px !important;
}

.ant-layout-header {
	height: 42px;
}

#components-form-demo-normal-login .login-form {
	max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
	float: right;
}
#components-form-demo-normal-login .login-form-button {
	width: 100%;
}

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
	text-align: left;
}

.ant-badge {
	top: -8px;
}

.ant-scroll-number {
	height: 12px;
	min-width: 14px;
	line-height: 12px;
	font-size: 10px;
}

.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
	line-height: 45px;
	height: 45px;
}

.ant-menu {
	transition: background 0.5s, width 0.5s !important;
}

@media screen and (max-width: 1023px) {
	.mobile-hidden1 {
		display: none;
	}

	.logos {
		position: relative;
		left: 20px;
	}

	.mobile-show1 {
		display: block;
	}

	.contains {
		margin-left: 30px !important;
	}

	.ant-scroll-number {
		height: 9px;
		min-width: 9px;
	}

	.ant-layout-header {
		padding: 0 20px;
	}

	.hed-text {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		margin: auto;
		line-height: 42px;
	}

	.menu-icon {
		position: absolute;
		font-size: 26px;
		margin: 8px;
		z-index: 2;
	}

	.ant-layout-sider {
		max-width: 100% !important;
		min-width: 100% !important;
		width: 100% !important;
		top: 0;
	}

	.menu-component {
		.side-menu {
			display: none;
		}
	}
	.logos.collapsed-side {
		left: 40px;
	}

	.ant-layout-sider-trigger {
		display: none;
	}
	.mobile-drawer {
		.ant-drawer-wrapper-body {
			background-color: #001529;

			.ant-drawer-close {
				top: 6px;
				right: 10px;
				padding-top: 0px;

				.anticon-close {
					color: #fff;
					font-size: 15px;
					border: 1px solid;
					border-radius: 50%;
					padding: 5px;
				}
			}

			.ant-drawer-body {
				padding: 0px;
				.imgs {
					margin: 8px auto;
					width: 200px;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.pad-lr-0 {
		padding-left: 0px;
		padding-right: 5px;
	}

	.menu-icon {
		left: -50px;
	}

	.ant-layout-header {
		padding: 0 5px !important;
	}

	.logos {
		margin-left: 20px;
	}
}
